<h1>About Me</h1>
<p><strong>Name: </strong>Mila Srdjevic</p>
<p><strong>Age: </strong>17</p>
<p><strong>Country: </strong>Serbia</p>

<h3>Contact</h3>
<p>
  <strong>Facebook: </strong>
  <a href="https://www.facebook.com/mila.srdjevic"target="_blank">Mila Srdjevic</a>
</p>
<p>
  <strong>Instagram: </strong>
  <a href="https://www.instagram.com/milasrdjevic/"target="_blank">@milasrdjevic</a>
</p>
<p><strong>E-mail: </strong>mila.srdjevic1@gmail.com</p>
<p><strong>Mobile: </strong>+381/63-589-403</p>
